.heading {
    text-align: center;
    background-color: rgba(0, 85, 85, 0.5);
    color: rgba(45, 0, 45, 0.7);
    border: 0.05em black solid;
    width: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0 , 0.25);
}
.selector-radio {
    margin: 0 2px 0 15px;
}
.main-container {
    margin: 20px 0 0 20px;
}
.converter-input {
    width: 200px;
    padding: 2px;
    margin: 5px 0 5px 0;
}