:root {
    --theme-primary: rgba(0, 85, 85, 0.5);
    --theme-secondary: rgba(45, 0, 45, 0.7);
}
.heading {
    text-align: center;
    font-size: 48px;
    background-color: var(--theme-primary);
    color: var(--theme-secondary);
    border: 0.05em black solid;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0 , 0.25), 0 5px 10px rgba(0, 0, 0, 0.29);
}
.selector-radio {
    margin: 0 2px 0 15px;
}
.main-container {
    margin: 40px 0 0 20px;
}
.converter-input {
    font-size: 36px;
    width: 250px;
    padding: 8px;
    margin: 0px 0 25px 0;
    border: 1px solid var(--theme-primary);
}

.converter-input:focus {
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.25), 0px 2.5px 7.5px rgba(0, 0, 0, 0.29);
}